@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Piazzolla:opsz,wght@8..30,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* 
*I'm gonna sepeprate the styles into css pages. Only because this file is very long. 
* Or I may do it in components. 
* And I may convert to SCSS cause...*/
/*I may chaneg up the genres. Not sure*/
:root {
  --color-classic: #432818;
  --color-ya: #bb9457;
  --color-romance: #9a2a2a;
  --color-fantasy: #99582a;
  --color-scifi: #e1c16e;
  --color-mystery: #4a0404;
  --color-thriller: #6f1d1b;
  --color-historical: #eaddca;
  --color-contemporary: #eaddca;
  --color-literary: #eaddca;
  --color-adventure: #c19a6b;
  --color-horror: #800020;
  --color-dystopian: #8b0000;
  --color-graphic: #99582a;
  --color-memoir: #966919;
  --color-biography: #966919;
  --color-selfhelp: #eaddca;
  --color-nonfiction: #c04000;
  --color-poetry: #f5deb3;
  --color-humor: #a95c68;
  --color-suspense: #800020;
  --color-crime: #bb9457;
  --color-paranormal: #cd7f32;
  --color-science: #808000;
  --color-philosophy: #483c32;
  --color-satire: #7b3f00;
}

*,
*::before,
*::after {
	text-rendering: optimizeLegibility;
}

h1 {
  color: #432818;
  font-size: 3.815rem;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Libre Baskerville";
  /* letter-spacing: 5px; */
}

h2 {
  color: #432818;
  font-size: 3.052rem;
  text-align: center;
  margin: 10px 0;
  font-family: "Montserrat";
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 20px 5px;
}

li {
  font-family: "Libre Baskerville";
}

p {
  font-family: Montserrat;
}

body {
  background-color: #ffeecc;
  padding: 0;
  margin: 0;
}

#logo {
  margin: 0;
}

.logo {
  color: #432818;
  text-decoration: none;
}

.logo:hover {
  text-decoration: 5px underline;
  text-decoration-color: #6f1d1b;
  cursor: pointer;
}

#CurrentDeal {
  background-color: #432818;
  color: #ffeecc;
  margin: 0;
  font-size: 22px;
  padding: 8px;
  text-align: center;
}

#join-today {
  color: #ffe6a7;
  text-decoration: underline;
}

#join-today:hover {
  cursor: pointer;
}

.intro {
  display: flex;
}

.welcome_image {
  flex: auto;
  width: 50%;
}

.reading_book {
  float: left;
  display: block;
  margin: 2em;
  width: 100%;
}

.welcome_text {
  flex: auto;
  width: 50%;
  margin: auto 2em;
  /*top right bottom left*/
  text-align: center;
}

.welcome_para {
  text-align: center;
  color: #432818;
  font-size: 25px;
}

.btn-container {
  display: flex;
  justify-content: center;
}
/* * I can probably make this a component. All btns throughout the page*/
#join-now-btn {
  background-color: #6f1d1b;
  color: #ffeecc;
  border: none;
  font-size: 20px;
  padding: 9px;
  border-radius: 5px;
  height: 60px;
  width: 125px;
  text-align: center;
  margin-right: 10px;
  transition: 0.3s;
}

#join-now-btn:hover {
  text-align: center;
  cursor: pointer;
  background: #b52e2c;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#join-now-btn:active {
  background-color: #cb6d6b;
  box-shadow: none;
  transform: translateY(4px);
}

#log-in-btn {
  background-color: #ffeecc;
  color: #6f1d1b;
  font-size: 20px;
  padding: 9px;
  border: 2px solid #6f1d1b;
  border-radius: 5px;
  height: 60px;
  width: 125px;
  margin-left: 10px;
  transition: 0.3s;
}

#log-in-btn:hover {
  text-align: center;
  cursor: pointer;
  color: #b52e2c;
  border-color: #b52e2c;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#log-in-btn:active {
  background-color: #fff3db;
  box-shadow: none;
  transform: translateY(4px);
}

#second-h1 {
  font-size: 4em;
  text-align: center;
}

#a-note {
  text-align: center;
  font-size: 25px;
  color: #432818;
}

/*.flex-container {
  display: flex;
}*/

#a-note-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  justify-content: space-around;
}

.post-it {
  list-style: none;
}

.post-it::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 29px;
  background-image: url(assets/svgs/post-it.svg);
}

.bookmark {
  list-style: none;
}

.bookmark::before {
  content: "";
  display: inline-block;
  height: 28px;
  width: 30px;
  background-image: url(assets/svgs/bookmark-bar-icon.svg);
}

.highlighter {
  list-style: none;
}

.highlighter::before {
  content: "";
  display: inline-block;
  height: 28px;
  width: 31px;
  background-image: url(assets/svgs/highlight-marker-icon.svg);
}

.pen {
  list-style: none;
}

.pen::before {
  content: "";
  display: inline-block;
  height: 32px;
  width: 30px;
  background-image: url(assets/svgs/pen-tool-icon.svg);
}


@media screen and (max-width: 700px) {
  .welcome_image {
    flex: none;
    width: 80%;
  }

  .welcome_text {
    flex: none;
    width: 100%;
    margin: 50px 0px 80px 0px;
    /*top right bottom left*/
    text-align: center;
  }

  .welcome_para {
    text-align: center;
    color: #432818;
    font-size: 25px;
    margin-right: 2px;
  }

  .intro {
    display: block;
  }
  
  /*
  @keyframes slideIn {
    0% {
      width: 0%;
      opacity: 0;
    }
    
    100% {
      width: 50%;
      opacity: 1;
    }
  }
  */

  #a-note-list {
    /*list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;*/
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .footer a {
    margin: 0 5px;
    font-size: 1rem;
  }

  .footer-divider {
    width: 75%;
  }
}

/* login & signup Page */
.login-box, 
.signup-box {
  display: flex;
  align-items: center;
}

.login-image, 
.signup-image {
  flex: auto;
  width: 50%;
  margin: 30px;
}

.stack_of_books {
  width: 70%;
  margin: inherit;
}

.login,
.signup {
  border: 1px solid #000000;
  border-radius: 5px;
  width: 35%;
  margin: 20px;
  padding: 0 20px;
  height: auto;
}

/*login & signup form*/
.welcome-back,
.signup-heading {
  font-size: 2em;
  margin-bottom: 10%;
}

.error-message {
  color: darkred;
  text-transform: capitalize;
  padding: 10px;
}

.pwrequirements {
  margin: 0;
  display: none;
}


.invalid {
  color: red;
}

.valid {
  color: #432818;
}

input.emptyField {
  border: 2px solid red;
}

.emptyField::placeholder {
  color: red;
}

.password-box {
  display: flex;
  justify-content: flex-end;
}

#showPasswordBtn {
  z-index: 999;
  background-color: transparent;
  border: none;
}

#showPasswordBtn:hover {
  cursor: pointer;
}

.forgot-password {
  display: flex;
}

.forgot-password-link {
  text-decoration: none;
  color: darkred;
  text-align: left;
}

.forgot-password-link:hover {
  text-decoration: 1px underline;
}

/* Hide the browser's default checkbox */
.check-container input[type="checkbox"] {
  display: none;
}

/* Style the custom checkbox container */
.check-container {
  position: relative;
  padding-left: 25px; /* Adjust as needed */
  margin-left: 5%;
  cursor: pointer;
  vertical-align: middle;
}

/* Style the custom checkbox */
.check-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px; /* Adjust the size of the checkbox */
  height: 18px; /* Adjust the size of the checkbox */
  border: 1px solid #432818; /* Adjust the checkbox border color */
  border-radius: 5px;
  background-color: transparent;
}

/* Style the checked custom checkbox */
.check-container input[type="checkbox"]:checked + .checkmark::before {
  background-color: transparent; /* Adjust the checked checkbox color */
}

/* Style the checkmark inside the custom checkbox */
.check-container .checkmark::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 5%;
  width: 5px; /* Adjust the size of the checkmark */
  height: 15px; /* Adjust the size of the checkmark */
  border: solid black; /* Adjust the checkmark color */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

/* Show the checkmark for the checked custom checkbox */
.check-container input[type="checkbox"]:checked ~ .checkmark::after {
  opacity: 1;
}

.remember-me-container {
  color: #432818;
  margin: 20px 20px 20px 0px;
  font-size: 1.25em;
}

.not-a-member,
.a-member {
  color: #432818;
  text-align: center;
  padding-top: 1%;
  font-size: 20px;
}

.sign-up-link,
.create-account-link {
  font-weight: bold;
  color: #6f1d1b;
  cursor: pointer;
}

.sign-up-link:hover,
.create-account-link:hover {
  cursor: pointer;
  color: #b52e2c;
}

#loginpage-button,
#CA-button {
  margin-left: 5%;
  width: 88%;
  height: 44px;
  background-color: #6f1d1b;
  border: none;
  border-radius: 2px;
  color: #ffeecc;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
}

#loginpage-button:hover,
#CA-button:hover {
  text-align: center;
  cursor: pointer;
  background-color: #b52e2c;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#loginpage-button:active,
#CA-button:active {
  background-color: #cb6d6b;
  box-shadow: none;
  transform: translateY(4px);
}

@media screen and (max-width: 700px) {
  .login-box, 
  .signup-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .login,
  .signup {
    width: 90%;
    margin: 15px 10px;
  } 

  .login-image, 
  .signup-image {
    width: 80%;
    margin: 10px;
  }
  .stack_of_books {
    display: block;
    margin: auto;
  }
}

/*Buy a book kit*/
.subscribe-plans {
  display: flex;
  box-sizing: border-box;
  column-gap: 5em;
  justify-content: center;
  padding: inherit;
  align-items: center;
  margin-bottom: 15px;
}

#subscribe-text {
  text-align: center;
  font-size: 25px;
  color: #432818;
  margin-top: 10px;
}

.price {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

/*give class*/
.sub-button {
  display: block;
  border: none;
  color: #ffe6a7;
  background: #6f1d1b;
  padding: 12px 30px;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 8px;
}

.sub-button:hover {
  background-color: #b52e2c;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.book-sub-heading {
  margin: auto;
  color: #ffe6a7;
  background-color: #432818;
  font-weight: normal;
  font-size: 2.5em;
  padding: 10px 50px 10px 50px;
  border-radius: 5px 5px 0px 0px;
}

#book1 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#book2 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#book3 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/*help with instead of margins to center, I need something else*/

/* Extra-small devices (phones) */
@media screen and (max-width: 599px) {
  /* CSS rules for extra-small devices */
}

/*!I need to work on this*/
/* Small devices (tablets) */
@media screen and (min-width: 300px) and (max-width: 904px) {
 
  .subscribe-plans {
    display: block;
    margin: 0 20px ;
  }

  .sub-button {
    border: none;
    color: #ffe6a7;
    background: #6f1d1b;
    padding: 12px 30px;
    border-radius: 2px;
    font-size: 15px;
    cursor: pointer;
  }
}

/*All Books page */
/*
.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #432818;
  border-radius: 2px;
}

/*
.anchor svg:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  transform: rotate(-135deg);
} */
/*

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.genres {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
}

.dropdown-check-list ul.genres li {
  list-style: none;
}

.dropdown-check-list.visible .genres {
  display: block;
}

#filter-and-sort {
  display: flex;
  justify-content: right;
}

#filter-and-sort div {
  margin-right: 10px;
}

*/
.Normal {
  display: block;
}

.allbooks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding: 5px;
  margin: 50px 0;
}

.thebook_div {
  width: 150px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 5px;
}

.Books {
  width: 100%;
}

.label_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.label {
  color: white;
  align-items: center;
  padding: 0 6px 1px;
  min-height: 20px;
  border-radius: 3px;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 1em;
}

.thebook_info {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
}

.thebook_info_para {
  font-size: inherit;
  line-height: 1.5;
}

/* Extra-small devices (phones) */
@media screen and (max-width: 599px) {
  .allbooks {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Small devices (tablets) */
@media screen and (min-width: 600px) and (max-width: 904px) {
  .allbooks {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (laptops) */
@media screen and (min-width: 905px) and (max-width: 1239px) {
  .allbooks {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices (desktops) */
@media screen and (min-width: 1240px) and (max-width: 1439px) {
  .allbooks {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Extra-large devices (large desktops) */
@media screen and (min-width: 1440px) {
  .allbooks {
    grid-template-columns: repeat(5, 1fr);
  }
}


/*use goodreads or google api to fetch reviews for the book*/

/*Privacy Policy*/

.privacy-policy-body p,
.terms-body p,
.accessibility-body p {
  color: #432818;
  font-size: 20px;
  text-align: left;
  margin: 10px;
}

/*Author Events*/
.as-headers {
 text-align: center;
}

/* .as-headers h1 {
  font-family: 'Piazzolla', serif;
} */

.as-headers p {
  /* font-family: 'Dosis', sans-serif; */
  color: #432818;
  font-weight: 500;
  font-size: 20px;
}

#as-details {
  display: flex;
  justify-content: center;
  color: #432818;
}

#as-details div {
  padding-right: 10px;
}

#as-facts h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

#as-facts p {
  /* font-family: 'Dosis', sans-serif; */
  font-size: 20px;
  margin: 0;
}

/* #author-spotlight-container {
  font-family: 'Piazzolla', serif;
} */

#author-spotlight-container {
  margin: 10px;
}

#authors-pic {
  object-fit: fill;
}

#emailStatus {
  color: red;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

@media screen and (max-width: 700px) {
  #as-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #as-details div {
    padding-top: 10px;
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  #authors-pic {
    width: 100%;
  }
}

.profile-gray-circle {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #D9D9D9;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto;
}

.profile-picture {
  width: 75px;
}
