.hamburger-container {
  display: none;
}

.navbar {
  position: relative;
  background: #99582a;
}

#navlist {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  background: #99582a;
}

#navlist li {
  flex: auto;
  text-align: center;
  padding: 0.3em;
  font-size: 30px;
  color: #ffe6a7;
}

a {
  color: #ffe6a7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #6f1d1b;
  cursor: pointer;
}